.header {
  height: 100%;
  width: 100%;
}
.header h1,
.container-list h2 {
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Animation writing */
.typewriter h1 {
  color: #fff;
  overflow: hidden;
  border-right: 0;
  white-space: nowrap;
  margin: 0 initial;
  letter-spacing: 0.15em;
  animation: typing 2s steps(20, end), ease-out;
  blink-caret: 0.5s step-end infinite;
}
input {
  all: unset;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgb(0 0 0 / 6%);
  border-radius: 10px;
  background-color: #fff;
  width: 70%;
}

@keyframes typing {
  from {
    width: 0;
    border-right: 0.15em solid #8634b6;
  }
  to {
    width: 70%;
    border-right: 0.15em solid #8634b6;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  70% {
    border-color: #8634b6;
  }
}
/* error message */
.hidden {
  visibility: hidden;
}
.error-message {
  font-size: 15px;
  margin: 10px 0 0 10px;
  color: red;
}
.error_field {
  border: 3px solid red;
}
