:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --grey: #6b7280;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light: #eee;
}

*,
:before,
:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
/* Body */
.body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Main Container */
.container {
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 25%);
  background-color: #ebebeb7d;
  max-width: 40%;
  width: 100%;
  margin: 0 auto;
  min-height: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 100px 150px;
  border-radius: 20px;
  position: relative;
  backdrop-filter: blur(7px);
}
.circle1,
.circle2 {
  background-color: #fff;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.1)
  );
  height: 12rem;
  width: 12rem;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}
.circle1 {
  top: 2%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}
/* Header CSS */
.header {
  height: 100%;
  width: 100%;
}
.header h1,
.container-list h2,
form h2 {
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Animation writing */
.typewriter h1 {
  color: #fff;
  overflow: hidden;
  border-right: 0;
  white-space: nowrap;
  margin: 0 initial;
  letter-spacing: 0.15em;
  animation: typing 2s steps(20, end), ease-out;
  blink-caret: 0.5s step-end infinite;
}
input {
  all: unset;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgb(0 0 0 / 6%);
  border-radius: 10px;
  background-color: #fff;
  width: 70%;
}

@keyframes typing {
  from {
    width: 0;
    border-right: 0.15em solid #8634b6;
  }
  to {
    width: 70%;
    border-right: 0.15em solid #8634b6;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  70% {
    border-color: #8634b6;
  }
}
/* error message */
.hidden {
  visibility: hidden;
}
.error-message {
  font-size: 15px;
  margin: 10px 0 0 10px;
  color: red;
}

/* Task Animation */
.error_field {
  border: 3px solid red;
}
.animation-enter {
  opacity: 0;
  transform: translateY(-40px);
}
.animation-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: 0.5s ease-in;
}
.animation-exit {
  opacity: 1;
  transform: translateX(0);
}
.animation-exit-active {
  opacity: 0;
  transform: translateX(80px);
  transition: 0.9s ease-out;
}

/* Tasklist css */
/* CONTAINER LIST - { h2 , select , ul } */
.container-list {
  width: 100%;
  margin: 50px 0 20px;
}
.container-list h2 {
  display: inline;
}
.container-list select {
  all: unset;
  padding: 5px;
  margin-left: 20px;
  border: 0;
  box-shadow: 0 0 15px 4px rgb(0 0 0 / 6%);
  border-radius: 10px;
  background-color: #fff;
  width: 100px;
  cursor: pointer;
}
/* ul */
.task-group {
  list-style-type: none;
}
/* li */
.task-item {
  padding: 10px 20px;
  border: 0;
  box-shadow: 0 0 15px 4px rgb(0 0 0 / 6%);
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* li {text, date} */
.task-info {
  display: flex;
  flex-direction: column;
}
/* li date */
.task-info .date {
  font-size: 14px;
}
/* Badges */
.task-complete {
  background-color: lightgrey;
  opacity: 0.7;
}
.task-complete span span:nth-child(1) {
  text-decoration: line-through;
}
.first {
  display: none;
}
.btn {
  all: unset;
  cursor: pointer;
  margin: 0 10px;
  font-weight: 500;
}
.btn-submit span {
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-remove {
  color: #eb684b;
}
.btn-complete {
  color: #669e66;
}
.btn-uncomplete {
  color: #141a1b;
}
